
body {

font-family: 'Open Sans', sans-serif;
background: url(stardust2.png);
background-repeat: repeat;
background-size: width 200px height 200px;
background-position: center;
color: #fff;
background-color: #16151a;
}

p {

color:black;

}



.weblogo {
width: 80%;
text-align: center;

display: block;

}

.content {
	text-align: center;
	background-color: rgba(255,255,255,0.025);
	padding: 2em;
	margin: 0.5em auto;
	width: 80%;
}

}

.title {
	color: white;
}

a {

color: black;

}

pre {

color: black;

}

#dfp {


color: pink;

}

.diffpara {

color: blue;

}